.bgimage {
    filter: brightness(0.6);
    object-fit: cover;
    width: 100%;
    height: 50%;
    position: fixed;
    object-position: center;
}
body{
    background-image: url(../img/nana1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
